html, body { margin: 0; padding: 0 }
body {
	font-size: 110%; line-height: 1.3;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	/*background-color: black;*/
}
@media (max-width: 50rem) {
	body { font-size: 105% }
}
@media (max-width: 28rem) {
	body { font-size: 100% }
}

a { color: #333; text-decoration: none }
a:hover { text-decoration: underline }

.rtl { direction: rtl }



.notification {
	position: fixed; top: 0; left: 0; width: 100%; z-index: 2;
	margin: 0; padding: 1rem; text-align: center;
	font-size: 130%; color: white;
	background-color: #e74c3c; border-bottom: 1px solid #d73c2c;
}



#header {
	display: flex; padding: 3rem 0;
	flex-wrap: wrap; justify-content: center; align-items: center;
	color: white; text-shadow: .07em .05em 0 black;
	/* CC-BY 2.0
	   https://www.flickr.com/photos/yeowatzup/5079180729/ */
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/dd/Syrian_Desert_(5079180729).jpg');
	background-position: center;
	background-size: cover;
}

#header h1 { letter-spacing: .05em }

#header > section {
	margin: 1rem; max-width: 25rem;
}

@media (max-width: 28rem) {
	#header { display: block; padding: 1rem 0 }
}



#filters {
	position: absolute; z-index: 1; width: 100%;
	padding: 0; background-color: rgb(30, 25, 56);
}

#filters ul {
	list-style: none; margin: 0; padding: 0;
}

#filters a {
	display: inline-block; text-align: center;
	font-weight: 700; color: white; line-height: 2rem;
}
#filters a:hover { text-decoration: none; color: rgb(37, 251, 153) }

#filters > ul {
	display: flex; justify-content: center;
	list-style: none;
}
#filters > ul > li {
	position: relative; padding: .5rem 0;
}
#filters > ul > li > a {
	padding: 0 1rem; border: .2rem solid transparent;
}
#filters > ul > li.active > a,
#filters > ul > li:hover > a { border-color: rgb(37, 251, 153) }
#filters > ul > li.active > a {
	background-color: rgb(37, 251, 153); color: rgb(30, 25, 56);
}
#filters > ul > li:hover > a {
	background-color: transparent; color: white;
}

#filters > ul > li > ul {
	display: none; position: absolute; top: 3rem; left: 0;
	min-width: 100%; padding: .5rem 0; box-sizing: border-box;
	font-size: 85%;
	background-color: #333;
}
#filters > ul > li:hover > ul { display: block }
#filters > ul > li > ul > li { display: block }
#filters > ul > li > ul > li > a {
	display: block; padding: 0 1rem; color: #ddd; white-space: nowrap;
}
#filters > ul > li > ul > li.active > a {
	background-color: rgb(37, 251, 153); color: #333;
}



@media (max-width: 28rem), handheld, (hover: none) {
	#filters { position: static; z-index: 1 }
	#filters > ul { display: block }
	#filters > ul > li { display: block; text-align: center }
	#filters > ul > li > a { display: block }
	#filters > ul > li > ul { position: static }
	#filters > ul > li:hover > a { border-color: transparent }
}



#gallery {
	margin: 5rem auto 2rem auto;
}

#gallery .picture {
	display: inline-block; margin: .1rem;
}
#gallery .picture:hover { text-decoration: none }

#gallery .picture img {
	display: block; max-width: 100%; box-sizing: border-box;
	font-size: 90%;
	background-color: #ccc;
}
#gallery .picture img:hover {
	border: .2rem solid rgb(37, 251, 153);
}



#footer {
	padding: 3rem; background-color: rgb(30, 25, 56);
	text-align: center; vertical-align: top;
}
#footer > * { margin: .5rem; vertical-align: top }
